<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if category %}
        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        {% if user.is_authenticated %}
        	{% if category %}
        		<a href="/rango/category/{{ category.slug }}/add_page">Add a New Page</a><br />
        	{% else %}
        		<strong>A category by this name does not exist</strong>
        	{% endif %}	
        {% endif %}
        	
    </body>
</html>